<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://flio.ai/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/flio/flio.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://flio.ai/" target="_blank">Flio.ai</a>
        </div>
        <p>Vehicle Routing System Software that uses mathematical models and heuristic approaches to solve companies' complex logistics problems. Built with Python's FastAPI and JavaScript's React/React Native.</p>
      </figcaption>
    </div>

    <div class="project screentime">
      <figure class="project__pic phones">
        <a href="https://github.com/furkankyildirim/WakeGuardApp" target="_blank">
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/wakeguard/wakeguard1.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/wakeguard/wakeguard2.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/wakeguard/wakeguard3.png" alt="">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/furkankyildirim/WakeGuardApp" target="_blank">WakeGuard</a>
        </div>
        <p>A location tracking and alarm application which is written with React Native. WakeGuard adjusts how many meters to stay at your target location and informs you when the distance you set to your target location is reached.</p>
      </figcaption>
    </div>

    <div class="project interventions">
      <figure class="project__pic">
        <a href="http://suprerequisites.herokuapp.com/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/sucourse/sucourse.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="http://suprerequisites.herokuapp.com/" target="_blank">Sabancı Universities Course Prerequisites</a>
        </div>
        <p>A project that allows Sabancı University students to easily view the prerequisites of their university courses. Built with HTML5, CSS3, JavaScript, Python, Flask, and Svelte.</p>
      </figcaption>
    </div>
  </div>
</section>
